body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(50, 167, 145);
  grid-area: h;
}

main {
  background-color: white;
  grid-area: m;
}

footer {
  background-color: rgb(45, 46, 46);
  grid-area: f;
}

aside {
  grid-area: a;
}

.container-global {
  display: grid;
  grid-template: 'h h' 10vh	'm a' 85vh 'f f' 5vh;
}

.flex-container {
  display: flex;
}

.header {
  justify-content: space-between;
  padding: 5px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-login input {
  height: 30px;
  width: 120px;
  margin: 10px;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

.trybewarts-login button {
  height: 30px;
  width: 120px;
  margin: 10px;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

#trybewarts-header-title {
  color: white;
}

#evaluation-form {
  width: 675px;
  flex-flow: column wrap;
}

.secao1 {
  flex-wrap: wrap;
}

#input-name {
  flex-basis: 40%;
}

#input-lastname {
  flex-basis: 40%;
}

#input-email {
  flex-basis: 40%;
}

#house {
  flex-basis: 40%;
}

hr {
  width: 90%;
}

.secao2 {
  flex-direction: column;
}

.secao-principal {
  flex-direction: row;
  justify-content: space-between;
}
