body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Franklin Gothic Medium, 'Arial Narrow', Arial, sans-serif;
}

header {
  background-color: rgb(50, 167, 145);
  grid-area: h;
}

main {
  grid-area: m;
  width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
}

footer {
  background-color: rgb(45, 46, 46);
  grid-area: f;
  text-align: center;
  color: white;
}

aside {
  display: flex;
  grid-area: a;
  width: 40vw;
  flex-flow: column wrap;
  flex-direction: column;
  align-self: stretch;
  justify-self: center;
}

.container-global {
  display: grid;
  grid-template: 'h h' 10vh	'm a' 85vh 'f f' 5vh;
}

.flex-container {
  display: flex;
}

.header {
  justify-content: space-between;
  padding: 5px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-login input {
  height: 30px;
  width: 120px;
  margin: 10px;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

.trybewarts-login button {
  height: 30px;
  width: 120px;
  margin: 10px;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

#trybewarts-header-title {
  color: white;
}

#evaluation-form {
  width: 675px;
  flex-flow: column wrap;
}

.secao1 {
  flex-wrap: wrap;
  justify-content: center;
}

.secao2 {
  flex-direction: column;
  width: 30%;
}

.secao3 {
  width: 61%;
}

.secao4 {
  padding: 10px;
  margin: auto;
}

.secao5 {
  display: flex;
  flex-direction: column;
}

.secao6 {
  margin: auto;
}

#input-name {
  width: 250px;
  padding: 8px;
  margin: 5px;
}

#input-lastname {
  width: 250px;
  padding: 8px;
  margin: 5px;
}

#input-email {
  width: 250px;
  padding: 8px;
  margin: 5px;
}

#house {
  width: 250px;
  padding: 8px;
  margin: 5px;
}

hr {
  width: 90%;
}

.secao-principal {
  flex-direction: row;
  justify-content: center;
}

.counter {
  margin: 0 auto;
  color: gray;
}

#main {
  display: flex;
  flex-direction: column;
}

#confirma {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#form-data {
  display: none;
  flex-direction: column;
}

#trybewarts-forms-logo {
  margin: auto;
}

#tela1 {
  background-color: rgb(230, 230, 230);
  padding: 20px;
  box-shadow: 10px 10px 5px rgb(170, 170, 170);
  border-radius: 6px;
}

#titulo1 {
  text-align: center;
  font-size: 130%;
}

.check1 {
  display: inline-block;
  width: 130px;
  padding: 10px;
}

.check2 {
  display: inline-block;
  width: 130px;
  padding: 10px;
}

.radio1 {
  padding: 10px;
  width: 130px;
  margin: 0;
}

.textarea {
  margin: auto;
}

#textarea {
  margin: auto;
  width: 100%;
}

#counter {
  align-self: end;
  font-size: 80%;
  margin: 0;
}

#submit-btn{
  padding: 5px;
  margin-top: 5px;
}